.error__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.error__text {
	font-size: 64px;
	font-weight: 500;
	text-shadow: 1px 1px 1px red;
}

.error__code {
	font-size: 52px;
	color: red;
	text-shadow: 1px 1px 1px #000;
	margin-bottom: 10px;
}
.error__button {
	display: block;
	padding: 10px 12px;
	border: 2px solid #6b8fff;
	border-radius: 24px;
	background-color: #6b8fff;
	color: #fff;
	transition: all 0.3s;
	font-size: 20px;

	&:hover {
		color: #6b8fff;
		background-color: #fff;
	}
}
