html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
